.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--bg-gray);
}

.formulario {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 80px 1fr;
  row-gap: 20px;
  justify-content: center;
  height: calc(100vh - 60px);
  
}

.formulario__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #727272;
  height: 100%;
}
.formulario__header--texto h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.formulario__header--texto p {
  font-size: 1.2rem;
}
.formulario__header--texto {
  display: flex;
  flex-direction: column;
}
.outline__formAC{
  width: 100%;
  border: 1px solid #28293456;
  border-radius: 15px;
  background: white;
  height: 410px;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  
}
.input__RowAC{
  width: 100%;  
  height: 33%;
  display: flex;
  flex-direction: row;
  
  
 
  
  
}