.outline__formD{
  width: 100%;
  border: 1px solid #28293456;
  border-radius: 15px;
  background: white;
  height: 510px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  
  display: flex;
  flex-direction: column;
  
}


.outline__formD h2{
  color: var(--bg-guinda);
  padding-bottom: 20px;
  padding-left: 12px;
  padding-top: 10px;
  font-size: 18px;
}
.input__RowD{
  width: 100%;  
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  
}